html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-color: rgb(14, 14, 14);
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
}

/* video */

#videoSize {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

#videoSize > #mainVideo {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: sticky;
    top: 0;
    z-index: -1;
    transition: opacity 0.5s ease-out;
}

h1 {
    font-size: 10rem;
    position: absolute;
    width: 100%;
    padding: 1rem;
    top: 30%;
    background-color: rgba(0, 0, 0, 0.47);
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* main */


main {
    margin-top: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
}

#about {
    width: 75%;
    margin: 0 auto;
    font-size: 2rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.navigation {
    width: 60vh;
    height: 60vh;
    background-size: 60vh;
    border-radius: 2rem;
}

.navText {
    background-color: rgba(0, 0, 0, 0.47);
    font-size: 5rem;
    font-weight: bold;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 2rem;
    
}

.navText a {
    display: flex;          
    align-items: center;    
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.navText a:hover {
    color: rgb(181, 180, 180);
    background-color: rgba(0, 0, 0, 0.554);
}

@media (max-width: 768px) {

    h1 {
        font-size: 5rem;
        top: 20%;
        padding: 0.5rem;
    }

    main {
        flex-direction: column;
        height: auto;
        margin-top: 100vh;
        padding: 2rem 1rem;
    }

    nav {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .navigation {
        width: 40vh;
        height: 40vh;
        margin: 1.5rem;
        background-size: cover;
    }

    .navText {
        font-size: 3rem;
    }

    .navText a {
        font-size: 3rem;
    }

    #videoSize > #mainVideo {
        object-fit: cover;
        height: 100%;
    }
}



